.left_choose_li{
    height: 45px;
    line-height: 45px;
    list-style-type:none;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.left_choose_a{
    width: 100%;
    text-align: center;

}

.shop_info_bar{
    margin-top: 15px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    color: #ffffff;
}

.shop_info{
    font-family: Arial,Verdana;
    padding-left: 100px;
    padding-top: 30px;
    font-size: 20px;
    color: #999;
    background-color: #ffffff;
    height: 480px
}

.modify_button{
    font-size: 15px;
    text-align: end;
    color: #999;
    background-color: inherit;
}

table{
    font-family: Arial;
    font-size: 15px;
    color: #999;
}

.shop_info_detial{
    padding-left: 100px;
}

th{
    padding-top: 20px;
}